.view-id-teaser_list .event-item {
  border-top: solid 2px #000000;
  border-bottom: solid 2px #000000;
  position: relative;
}
.view-id-teaser_list .event-item .event-title {
  border-bottom: solid 1px black;
}
.view-id-teaser_list .event-item .event-genre {
  float: right;
}
.view-id-teaser_list .event-item .event-line-up {
  text-transform: uppercase;
  padding-top: 10px;
  font-size: x-large;
  display: inline-block;
}
.view-id-teaser_list .event-item .event-header {
  display: inline-block;
  width: 90%;
}
.view-id-teaser_list .event-item .event-date {
  font-size: 4em;
  position: absolute;
  top: 3px;
  right: 3px;
}
.view-id-teaser_list .field-artist > div {
  float: left;
}
