
.field-event-ref ~ .field-label{
	float: left;
}
.field-event-ref{
	padding-left: @padding-base-horizontal;
}
.page-podcasts{
	.views-row:not(.views-row-first){
		border-top: solid 6px white;
	}
}

.view-mode-full{
	&.node-blog-post{
		border-bottom: none;
		.node-title{
			font-size: @font-size-h1*2.2;
			margin-top: 30px;
			margin-bottom: 2px;
			border-top: solid 1px @primary-color;
			padding-left: @padding-base-horizontal;
			padding-right: 15%;
			@media @tablet{
				font-size: @font-size-h1*1.5;
				background-image: none !important;
			}
		}
	}
}
.node-blog-post{
	margin-bottom: @padding-base-vertical;
	height: auto !important;
	border-bottom: solid 6px @primary-color;
	padding-bottom: @padding-base-vertical !important;
	.node-title{
		padding-left: @padding-base-horizontal;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 12px;
		padding-bottom: 12px;
		border-bottom: solid 1px @primary-color;
		font-family: @font-family-serif !important;
		text-transform: uppercase;
		.transition-duration(0.5s);
		background-color: transparent;
		&:hover{
			.transition-duration(0.3s);
			@background-color: lighten(@fourth-color, 30%);
			background-color: rgba(red(@background-color),green(@background-color),blue(@background-color), 0.5);
		}
		.text-shadow();
	}
	.field-big-image{
		max-height: 330px;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.field-body{
		padding: @padding-base-horizontal;
		img{
			margin: 0px 4px;
		}
	}
	.field-label{
		display: inline-block;
	}
	.field-links {
		display: inline-block;
		margin-left: 0px;
		li{
			list-style: none;
			display: inline-block;
			padding-right: @padding-base-horizontal;
		}
	}
	.field-podcast-section{
		float: right;
		padding-top: @padding-base-vertical;
		border-top: 1px solid @fourth-color;
	}

}

.node-blog-post-single{
	.node-title{
		font-size: @font-size-h1*2.2;
		padding-left: @padding-base-horizontal;
		border-bottom: solid 6px @primary-color;
		@media (max-width: @screen-sm){
			font-size: @font-size-h1*1.5;
		}
	}
}

.blog-info{
	color: @tertiary-color;
	margin-top: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	width: 100%;
	>div, .tags > div{
		display: inline-block;
	}

	.tags{
		float:right;
		font-style: italic;
		padding-right: 5px;
	}
	.expand-post{
		color: @fourth-color;
	}
	.tags:before, .user:before, .timestamp:before{
		.icon();
		padding: 0px 15px 0px 5px;
	}

	.tags:before{
		content: 'T';
	}
	.user:before{
		content: 'U';
	}
	.timestamp:before{
		content: 'D';
	}
	.field-tags{
		padding-right: 3px;
		display: inline-block;
		color: @primary-color;
		a{
			color: inherit;
			:hover{
				color: darken(@primary-color, 10%);
			}
		}
	}
	.submitted{
		margin-bottom: 0;
	}
}