
.field-event-ref ~ .field-label{
	float: left;
}
.field-event-ref{
	padding-left: @padding-base-horizontal;
}
.page-podcasts{
	.views-row:not(.views-row-first){
		border-top: solid 6px white;
	}
}

.view-mode-full{
	&.node-blog-post{
		border-bottom: none;
		.node-title{
			font-size: @font-size-h1*2.2;
			margin-top: 30px;
			margin-bottom: 2px;
			border-top: solid 1px @primary-color;
			padding-left: @padding-base-horizontal;
			padding-right: 15%;
			@media @tablet{
				font-size: @font-size-h1*1.5;
				background-image: none !important;
			}
		}
	}
}
.node-blog-post{
	background-size: cover;
	background-position: center;
	margin-bottom: @padding-base-vertical;
	height: auto !important;
	border-bottom: solid 6px @primary-color;
	padding-bottom: @padding-base-vertical !important;
	a{
		text-decoration: none;
		.no-touch &:hover{
			font-weight: bold;
		}
	}
	.node-title{
		padding-left: @padding-base-horizontal;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 12px;
		padding-bottom: 12px;
		border-bottom: solid 1px @primary-color;
		font-family: @font-family-serif !important;
		text-transform: uppercase;
		.text-shadow();
		background-color: rgba(250,250,250,0);
	}
	&.view-mode-full .field-big-image{
		display: none;
		@media @tablet{
			display: block;
		}
	}
	.field-big-image{
		@media @tablet{
			display: block; 
			max-height: 330px;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
	}
	.field-body{
		padding: @padding-base-horizontal;
		img{
			margin: 0px 4px;
		}
	}
	.field-label{
		display: inline-block;
	}
	.field-links {
		display: inline-block;
		margin-left: 0px;
		li{
			list-style: none;
			display: inline-block;
			padding-right: @padding-base-horizontal;
		}
	}
	.field-podcast-section{
		float: right;
		padding-top: @padding-base-vertical;
		border-top: 1px solid @fourth-color;
	}

	&.view-mode-teaser{
		.transition-duration(0.2s);
		min-height: 132px;
		.no-touch &:hover{
			.node-title{				
				.transition-duration(0.3s);
				color: @fourth-color;
				background-color: lighten(@fourth-color, 30%);
			}
		}
	}

}

.node-blog-post-single{
	.node-title{
		font-size: @font-size-h1*2.2;
		padding-left: @padding-base-horizontal;
		border-bottom: solid 6px @primary-color;
		@media (max-width: @screen-sm){
			font-size: @font-size-h1*1.5;
		}
	}
}
/* https://github.com/daneden/animate.css/blob/master/animate.css */
@-webkit-keyframes wobble {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}

	15% {
		-webkit-transform: translateX(-25%) rotate(-5deg);
		transform: translateX(-25%) rotate(-5deg);
	}

	30% {
		-webkit-transform: translateX(20%) rotate(3deg);
		transform: translateX(20%) rotate(3deg);
	}

	45% {
		-webkit-transform: translateX(-15%) rotate(-3deg);
		transform: translateX(-15%) rotate(-3deg);
	}

	60% {
		-webkit-transform: translateX(10%) rotate(2deg);
		transform: translateX(10%) rotate(2deg);
	}

	75% {
		-webkit-transform: translateX(-5%) rotate(-1deg);
		transform: translateX(-5%) rotate(-1deg);
	}

	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes wobble {
	0% {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}

	15% {
		-webkit-transform: translateX(-25%) rotate(-5deg);
		-ms-transform: translateX(-25%) rotate(-5deg);
		transform: translateX(-25%) rotate(-5deg);
	}

	30% {
		-webkit-transform: translateX(20%) rotate(3deg);
		-ms-transform: translateX(20%) rotate(3deg);
		transform: translateX(20%) rotate(3deg);
	}

	45% {
		-webkit-transform: translateX(-15%) rotate(-3deg);
		-ms-transform: translateX(-15%) rotate(-3deg);
		transform: translateX(-15%) rotate(-3deg);
	}

	60% {
		-webkit-transform: translateX(10%) rotate(2deg);
		-ms-transform: translateX(10%) rotate(2deg);
		transform: translateX(10%) rotate(2deg);
	}

	75% {
		-webkit-transform: translateX(-5%) rotate(-1deg);
		-ms-transform: translateX(-5%) rotate(-1deg);
		transform: translateX(-5%) rotate(-1deg);
	}

	100% {
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	}
}

.blog-info{
	color: @tertiary-color;
	margin-top: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	width: 100%;
	>div, .tags > div{
		display: inline-block;
	}
}
.tags{
	float:right;
	font-style: italic;
	padding-right: 5px;
	&:before{
		content: 'T';
	}
	.no-touch &:hover{}
	.no-touch &:hover:before{
		-webkit-animation-name: wobble;
		animation-name: wobble;
	}
}
.expand-post{
	color: @fourth-color;
}
.tags:before, .user:before, .timestamp:before{
	.icon();
	padding: 0px 15px 0px 5px;
}


.user:before{
	content: 'U';
}
.timestamp:before{
	content: 'D';
}
.field-tags{
	padding-right: 3px;
	display: inline-block;
	color: @primary-color;
	a{
		color: inherit;
		.no-touch &:hover{
			color: darken(@primary-color, 10%);
		}
	}
}
.submitted{
	margin-bottom: 0;
	color: white;
	float: left;
}

.tags, .submitted{
	display: inline-block;
}