
.field-event-ref ~ .field-label{
	float: left;
}
.field-event-ref{
	padding-left: @padding-base-horizontal;
}

.node-blog-post{
	.field-big-image{
		img{
			width: 100%;
		}
	}
	.field-body{
		background-color: @secondary-color;
		padding: @padding-base-horizontal;
	}
	.contextual-links-region{
		display: none;
	}
	.artists{
		display: none;
	}
	.field-label{
		display: inline-block;
	}
	.field-links {
		display: inline-block;
		margin-left: 0px;
		li{
			list-style: none;
			display: inline-block;
			padding-right: @padding-base-horizontal;
		}
	}
}
//needed for when the left column is pinned
.pin-fixed{
	padding-bottom: 15px;
}

.blog-info{
	background-color: lighten(@tertiary-color, 15%);
	color: @secondary-color;
	margin-top: 3px;
	padding: 3px 5px;
	text-align: right;
	display: inline-block;
	width: 100%;
	>div, .tags > div{
		display: inline-block;
	}

	.expand-post{
		color: @fourth-color;
	}
	.tags:before, .user:before, .timestamp:before{
		.icon();
		padding: 0px 15px;
	}

	.tags:before{
		content: 'T';
	}
	.user:before{
		content: 'U';
	}
	.timestamp:before{
		content: 'D';
	}
	.field-tags{
		padding-right: 3px;
		display: inline-block;
	}
	.submitted{
		margin-bottom: 0;
	}
}

.node-promoted{
	.pinned{
		padding-left: 0px;
	}
}