// Insert your styling here.
.container{
	@media @mobile{
		padding-left: 0px;
		padding-right: 0px;
	}
}

// Keep all groups closed on mobile
.group-trigger + div, .pane-title + div{
	@media @mobile{
		display: none;
	}
}

// Button to open the group
.group-trigger(){
	line-height: 2!important;
	background: @secondary-color;
	font-family: @font-family-sans-serif;
	text-transform: uppercase;
	padding-top: @padding-base-vertical;
	padding-bottom: @padding-base-vertical;
	padding-left: @padding-base-horizontal;
	font-size: @font-size-h4;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

.group-trigger{
	.group-trigger();
}

@media @mobile{
	.pane-title{
		.group-trigger();
	}
}
// Wrapper
.closable{
	border-bottom: solid 1px @tertiary-color;
}


// Access
#node-38{
	.make-row();
}