.event-node{
	.header{
		.event-genre{
			a{
				color: @tertiary-color;
				font-style: italic;
				@font-size: @font-size-h3;
			}
	}
	.event-subtitle{
		display: block;
		padding-left: 0px;
		color: @tertiary-color;
	}
	.event-title{
		margin-top: 0px;
		font-size: @font-size-h2;
		font-family: @font-family-serif !important;
		.node-title{
			font-family: inherit;
		}
	}
}
		
.line-up{
	position: relative;
	font-family: @font-family-sans-serif;
	padding-left: @padding-base-horizontal;
	padding-right: @padding-base-horizontal;
	h3{
		margin: 0px;
	}
	.artist{
	}
	.artist-info{
		font-size: @font-size-h4;
	}
	&.event-line-up-vjs:before{
		display: inline-block;
		font-size: @font-size-h4;
		content:'visuals by : ';
		padding-right: @padding-base-horizontal/2;
	}
	&.event-line-up-djs:before{
		display: inline-block;
		font-size: @font-size-h4;
		//content:'with ';
		padding-right: @padding-base-horizontal/2;
	}
}

.event-line-up-djs{

	.artist{
		z-index: 1;
		font-size: @font-size-h2;
		text-transform: uppercase;
		text-align: left;
		position: relative;
		margin-right: 10px;
		&:after{
			//content:',';
		}
		> div{
			//float: left;
			//padding: 0px 5px;
		}
	}
}

.event-line-up-vjs, .event-line-up-vjs a{
	font-size: @font-size-h3;
	color: @tertiary-color;
	.artist{
		display: inline-block;
		}
	}
}

/////// FULL EVENT NODE
.node-event.view-mode-full{
	.header{
		min-height: 170px;
		border-bottom: solid 6px @primary-color;
		.event-titles{
			display: inline-block;
			padding-left: 0px;
			width: 100%;
			.node-title{
				font-size: @font-size-h1*2.2;
				margin-top: 50px;
				margin-bottom: 2px;
				border-top: solid 1px @primary-color;
				padding-left: @padding-base-horizontal;
				@media (max-width: @screen-sm){
					font-size: @font-size-h1*1.5;
				}
			}
			.event-subtitle{
				float: left;
				padding-left: @padding-base-horizontal;
				padding-top: 30px;
			}
		}
		.event-meta{
			width: 100%;
			overflow: hidden;
			padding-top: 7px;
			position: relative;
			.event-social{
				margin-top: 7px;
				height: 15px;
				overflow: hidden;
				position: absolute;
				right: 10%;
			}
			.ics-container {
				float: right;
			}
			.genre{
				padding-left: @padding-base-horizontal;
				font-size: @font-size-h3;
				text-transform: uppercase;
				float: left;
			}
		}
		.date{
			position: absolute;
			right: 0px;
			top: 0px;
		}
	}

	.event-line-up-djs{
		.artist {
			display: inline-block;
			&:after{
				content:' / ';
				margin-left: 5px;
				margin-right: 5px;
			}
			.artist-info{
				color: @secondary-color;
			}
		}
	}
	.event-line-up-vjs{
		.artists{
			display: inline-block;
			.artist{
				display: inline-block;
				&:after{
					content:'/';
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
	}
	.col-left{
		.event-flyer{
			display: block;
			.field-slideshow-wrapper{
				width: 100% !important;
			}
			img{
				width: 100%;
			}
		}
	}
	.col-right{
		padding-left: @padding-base-vertical;
		padding-right: @padding-base-vertical;
		.event-details{
			display: block;
			border-bottom: solid 1px @primary-color;
			margin-bottom: 20px;
			pa
			a{
				color: darken(@primary-color, 100%);
			}
		}
		.event-body{
			height: 100%;
			.field-body{
			}
		}
	}
}

/////// TEASER EVENT NODE
.node-teaser{
	border-top: solid 3px @primary-color;
	border-bottom: solid 3px @primary-color;
	padding-bottom: @padding-base-vertical/2 !important;
	min-height: 110px;
	.dated-node{
		min-height: 110px;
		margin-bottom: @padding-base-vertical;
		.transition-duration(0.5s);
		background-color: lighten(@fourth-color, 2%);
		&:hover{
			.transition-duration(0.5s);
			background-color: lighten(@fourth-color, 30%);
		}

		.event-line-up-djs{
			padding-right: 15%;
		}
		.event-meta{
			padding-left: @padding-base-horizontal;
		}
	}
	.header{
		width: 100%;
		min-height: 40px;
		padding-top: 15px;
	}
	.field-big-image{
		display: none;
	}
	.event-titles{
		display: inline-block;
		padding-left: 0px;
		.node-title{
			margin-top: 2px;
			margin-bottom: 2px;
			padding-left: @padding-base-horizontal;
			padding-right: @padding-base-horizontal;
		}
		.event-subtitle{
			display: none;
		}
	}
	.event-meta{
		display: inline-block;
		@media (max-width: @screen-md-min){
			width: 85%;
			float: left;
			display: block;
		}
		min-height: 17px;
		.field-music-genre{
			display: inline-block;
			font-style: italic;
			a{
				color: darken(@primary-color, 50%);
			}
		}
	}
	.date{
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.col-left, .col-right{
		width: 100% !important;
		padding-left: 0px;
	}
	.event-line-up-djs{
		border-top: solid 1px @primary-color;
		.make-md-column(12);
		width: 100%;
	}
	.event-line-up-vjs{
		display: block;
		.make-md-column(12);
		.artists{
			display: inline-block;
		}
	}
	.artists{
		display: inline-block;
		@media (max-width: @screen-md-min){
			width: 80%;
		}
	}
	.artist{
		display:inline-block !important;
	}
	.artist-info{
		display: none;
	}

	.artist-additional-info{
		font-size: @font-size-h4;
	}
}

.is-sticky{
	position: fixed;
	top: 70px !important;
}

