.node-teaser{
	.event-node{
		height:180px;
	}
}

.event-node{
	.header{
		.event-genre, .event-genre a{
			color: @tertiary-color;
		}

		.event-subtitle, h3{
				/*margin-bottom: 0px;
				margin-top: 0px;
				*/
				display: block;
				padding-left: 0px;
				color: @tertiary-color;
		}
		.event-title, .event-title a{

				margin-top: 0px;
				font-family: @font-family-serif;
				font-size: @font-size-h2;
		}
	}
		
	.line-up{
		position: relative;
		font-family: @font-family-sans-serif;
		h3{
			margin: 0px;
		}

		.artist-info{
			display: none;
		}

		&:before{
			.make-md-column(1);
			padding-left: 0px;
			top:5px;
			vertical-align: top;
			color:@tertiary-color;
		}
		&.event-line-up-vjs:before{
				//content:'visuals by: ';
			}
		&.event-line-up-djs:before{
			//content:'sounds by: ';
		}

	}

	.event-line-up-djs{
		.artist{
			display:inline-block;
			z-index: 1;
			font-size: @font-size-h1;
			text-transform: uppercase;
			text-align: left;
			position: relative;
			margin-right: 10px;
				&:after{
					//content:',';
				}
				> div{
					//float: left;
					//padding: 0px 5px;
				}
			}
		}

		.event-line-up-vjs, .event-line-up-vjs a{
			font-size: @font-size-h4;
			color: @tertiary-color;
			.artist{
				display: inline-block;
			}
		}
		.event-flyer{
			float: left;
			padding-right: 10px;
		}
	}

