// Insert your styling here.
footer{
	z-index: 10;
	@media @mobile{
		position: relative;
		height: 100%;

		.block-title{
			margin-top: @padding-base-vertical;
		}

	}
	.block{
		.make-md-column(4);
	}
	.transition(all 0.4s);
	margin-top: 5px;
	bottom: 0;
	left: 0;
	height: 20px;
	.make-md-column(12);
	padding: 0 30px!important;
	position: fixed;
	right: 0;
	z-index: 3;
	background-color: @white;
	color: @fourth-color;
	font-size: @font-size-small;

	a{
		color: @fourth-color;
	}
	.block-title{
		background-color: @tertiary-color;
		font-size: @font-size-h6;
		margin-bottom:10px;
	}

	.social:before{
		.icon(@font-size-h4);
	}
	.facebook:before{
		content: 'f';	
	}
	.twitter:before{
		content: 't';	
	}
	.vimeo:before{
		content: 'v';	
	}
	.soundcloud:before{
		content: 's';	
	}
	.tumblr:before{
		content: 'r';	
	}
	.youtube:before{
		content: 'y';	
	}

	.block{
		p{
			margin:0px;
		}
	}
	#footer-sitemap{
		margin:0px;

		li+li:before{
			content: ' | ';
		}
	}
	&:hover{
		height: 120px;
	}
}