.carousel{
	@media (max-width: @screen-sm-min){
		display:none;
	}
	@media (min-width: @screen-md-min){
		min-height:220px;
	}
	@media (min-width: @screen-lg-min){
		min-height: 340px;
	}
}

#views-bootstrap-carousel-1{
	.light {
		.carousel-caption{
			color: @black;
			a{
				color:@black;
			}
		}
		.date{
			color: @black !important;
		}
		.carousel-indicators li{
			border: 1px solid @primary-color;
		}
	}	
	.carousel-control{
		padding-top:14%;
		z-index: 10;
		.light{

		}
	}
	.carousel-indicators{
		width: 100%;
		left: 30%;
		bottom: -5px;
		//background-color: @fourth-color;
		max-height:12px;
	}
	.carousel-caption{
		@media (max-width: @screen-md-min){
			margin-left: 10%;
			top:10%;
		}	
		height: 100%;
		left: 0px;
		right: 0px;
		.make-md-column(11);
		.make-md-column-offset(1);
		top: 20%;
		position: absolute;

		h4, h6, .artists{
			font-family: @font-family-sans-serif;
			text-transform: uppercase;
			text-align: left;
		}

		h4{
			font-size: @font-size-h1;
			display: inline-block;
		}

		h6{
			position: absolute;
			top: 0px;
		}

		.banner-title{
			border-bottom: 2px solid;
			float: left;
			height: 45px;
			width: 100%;
			h4{
				float: left;
				padding-right: 10px;
			}
			.field-music-genre{
				display: inline-block;
				font-size: @font-size-h3;
				text-transform: lowercase;
				line-height: 66px;
				float: left;
			}
		}

		.date{
			position: absolute;
			top:15px;
			right: 10%;
			color: @primary-color;
			@media (max-width: @screen-md-min){
				right: 0px;
			}
		}

		.artists{
			display:inline-block;
			left:0px;
			padding-left: 0px!important;
			.make-md-column(9);
			@media (max-width: @screen-md-min){
				width: 80%;
				float: left;
			}	
			.field-artist-name{
				display: inline-block;
				font-size: @font-size-h1;
				padding-right: @padding-base-horizontal/2;
			}
			.field-label{
				display: inline-block;
				font-size: @font-size-base;
				font-size: @font-size-h4;
				padding-right: @padding-base-horizontal/2;
			}
			.field-artist-details{
				display: inline-block;
			}
			.field-origin{
				.field-label;
				display: none;
			}			
		}
	}
}


