// Insert your styling here.
@media (max-width:480px) {
	header{
		margin: 0;
	}
}
#navbar{
	text-transform: uppercase;
	font-family: @font-family-sans-serif;
	top:0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1000;
	height: 40px;
	@media @mobile{
		.navbar-nav{
			margin-top: 0;
			margin-bottom: 0;
		}
		li{
			background-color: black;
			&:not(.last).active > a{
				background-color: @tertiary-color;
			}
			padding-left: 5px;
			.dropdown-menu{
				display: block;
				position: static;
				float: none;
				width: auto;
				margin-top: 0;
				background-color: transparent;
				border: 0;
				box-shadow: none;
			}
		}
	}

	@media @tablet{
		padding: 0 0 0.3em;
		.navbar-collapse{
			padding: 0;
			background-color: @navbar-default-link-bg;
		}
		.primary{
			width:100%;
			> li{
				.make-md-column(2);
				//padding-left: 0px;
				margin-right: 15px;
				background-color: @navbar-default-link-bg;
				.transition(0.5s);
				&:not(.last).active, &:not(.last):hover{
					.make-md-column(3);
					background-color: @navbar-default-link-hover-bg;
					margin: 0px;
					padding-left: 0px;
					padding-right: 0px;
					margin-right: 15px;
					a{
						width: 100%;
					}	
				}
			}
			> .last{
				.make-md-column(1);
				margin-right: 0px;
				float: right !important;
				padding-right: 0px;
				padding-left: 0px;
			}
			.dropdown-menu{
				min-width: 100%;
				.transition(0.5s);
				padding-bottom: 0px;
				padding-top: 0px;
				>li, a{
					padding-right: 0px;
					width: 100%;
				}
				a{
					padding-left: 5px;
					background-color: @primary-color;
					color: @secondary-color;
					&:hover{
						.transition(0.5s);
						background-color: darken(@primary-color,30%);
						color: @fourth-color;
					}
				}
				.active{
					.transition(0.5s);
					background-color: @tertiary-color;
				}
			}
		}
		
		.sub-menu{
			padding-left: 15px;
			>li{
				display: inline-block;
				margin-right: 10px;
			}
		}
	}	
}
