.pagination{
	display:none;
}

.pane-title{

	@media @mobile{
		font-size: @font-size-h4 !important;
		line-height: 3!important;
		color: darken(@primary-color, 10%);
		cursor: pointer;
		margin-top: 0px;
		padding-left: 12px !important;
	}
	margin-top: 15px;
	font-size: @font-size-h4;
}


.view-mode-mini{
	height: 160px;
	.node-title{
		background-color: none !important;
	}
}

.view-mini-blocks{
	.share42init{
		display: none !important;
	}
	.blog-info{
		position: absolute;
		bottom: 0px;
	}

	.node-installations{
		.date{
			display: none;
		}
		.field-slideshow{
			z-index: 0;
		}
	}
} 
