// Teaser install
.view-installations{
	.view-mode-mini{
		height: 180px;
		background-repeat:	no-repeat;
		background-position: center;
		border-bottom: solid 6px @primary-color;
		padding-bottom: @padding-base-vertical/2 !important;
		.date-display-single {
			font-size: @font-size-h2;
			font-family: @font-family-serif !important;
		}
		a{
			height: 180px;
			display: block;
			margin-top: 0px;
			margin-bottom: 0px;
			padding-top: 20px;
			background: rgba(250, 250, 250, 0);
			.transition-duration(0.5s);
			&:hover{
				background: rgba(250,250,250, 0.3);
				.transition-duration(0.5s);
			}
		}

		.node-title{
			border-bottom: solid 1px white;
			padding-right: 27%;
			padding-left: @padding-base-horizontal;
			text-shadow: 1px 1px 5px @secondary-color;
		}

		.content{
			margin-left: 85%;
			width: 15% !important;
			position: relative;
			top: -115px;
				@media @mobile{
					margin-left: 60%;
					width: 100% !important;
					position: relative;
					top: -115px;
				}
			.date{
				width: 80px;
				position: relative;
				display: block;
				border-bottom: none;
				border-top: none;
				@media @mobile{
					display: inline-block;
				}
			}
		}
	}
}


//Home page video field
.video-filter-field{
	display: inline-block;
}
// Full installation
.node-installations.view-mode-full{
	.install-header{
		min-height: 120px;
		border-bottom: solid 6px @primary-color;
		.event-titles, .install-titles{
			display: inline-block;
			padding-left: 0px;
			width: 100%;
			.node-title{
				font-size: @font-size-h1*2.2;
				margin-top: 30px;
				margin-bottom: 2px;
				border-top: solid 1px @primary-color;
				padding-left: @padding-base-horizontal;
				padding-right: 15%;
				@media (max-width: @screen-sm){
					font-size: @font-size-h1*1.5;
				}
			}
			.event-subtitle{
				float: left;
				padding-left: @padding-base-horizontal;
				padding-top:6px;
				font-size: @font-size-h3;
				text-transform: uppercase;
			}
		}
	}
	.col-left{
		.field-body{
			@media(max-width: @screen-sm-min){
				min-height: 160px;
			}
			min-height: 240px;
			padding-top: @padding-base-horizontal;
			padding-left: @padding-base-horizontal;
		}
		.field-label{
			display: block;
			padding-top: @padding-base-vertical;
			padding-bottom: @padding-base-vertical;
			padding-left: @padding-base-horizontal;
			margin-bottom: 10px;
			font-size: @font-size-h4;
			font-family: @font-family-sans-serif;
			color: @primary-color;
			background-color: #404040;
			text-transform: uppercase;
		}
		.field-event-ref{
			padding-left: 0px;
		}
	}

	.col-right{
		padding-right: 0px;
	}
	.field-photos{
		display: inline-block;
		width: 31%;
		margin: 5px 0.5%;
		.opacity(0.7);
		.transition-duration(0.5s);
		&:hover{
			.transition-duration(0.5s);
			.opacity(1);
		}
	}
	.date{
		position: absolute;
		right: 0px;
		top: 0px;
	}
}