//-------- Node
.node{
	position: relative;
}
h1, h2, h3{
	font-family: @font-family-sans-serif;
	a{
		color: @primary-color;
	}
}

h2 ,h1{
	font-size: @font-size-h2;
	font-family: @font-family-sans-serif;
	text-transform: uppercase;
	a{
		color: @primary-color;
	}
}

.node-title{
	font-size: @font-size-h2;
	font-family: @font-family-serif;
	text-transform: uppercase;
}

.date{
	font-weight: bolder;
	color: fade(@primary-color,90%);
	font-family: @font-family-sans-serif;
	z-index: 0;
	.date-number, .day, .month, .date-year{
		display: block;
		position: relative;
		top:0px;
		text-align: right;
	}
	.date-number{
		font-size: @date-size;
		line-height: 1;
	}
	.day, .month{
		font-size: 3em;
		text-transform: lowercase;
	}
}

.date-display-single{
	padding-left: @padding-base-horizontal;
}

.node-content{
	.col-left, .col-right{
		padding-top: 12px;
	}
}
.node-full-page{
	.col-left{
		.make-md-column(5);
	}
	.col-right{
		.make-md-column(7);
	}
}

.breadcrumb{
	margin-bottom: @padding-base-vertical;
	a{
		color: darken(@primary-color, 90%);
	}
	.active{
	}
}



.field-body{
	padding: 0 5px;
	img{
		margin:  @padding-base-vertical @padding-base-horizontal @padding-base-vertical @padding-base-horizontal;
	}
	p{
		text-align: left !important;
	}
	a{
		font-style: italic !important;
	}
}
/*
.field-big-image{
	display: none;
	@media @tablet{
		display: inline-block;
	}
}
*/

.view-mode-teaser{
	&:not(first-child){
		border-bottom: solid 6px @primary-color;
	}
	@media @mobile{
		border-bottom: solid 6px @primary-color !important;
		border-top: none !important;
	}
	.node-title{
		background-color: none !important;
	}
}