
//-------- Node
.node{
	position: relative;
}
h1, h2, h3{
	font-family: @font-family-sans-serif;
	a{
		color: @primary-color;
		}
}

h2 ,h1{
	font-size: @font-size-h2;
	font-family: @font-family-sans-serif;
	text-transform: uppercase;
	a{
		color: @primary-color;
	}
}

.node-title{
	font-size: @font-size-h3;
	border-bottom: solid 1px @primary-color;
	padding: 5px 5px;
}

.date{
	.make-md-column(2);
	.make-md-column-offset(10);
	position: absolute;
	font-weight: bolder;
	color: fade(@primary-color,50%);
	font-family: @font-family-sans-serif;
	z-index: 0;
	.date-number, .day{
		display: block;
		position: relative;
		top:0px;
		text-align: right;
	}
	.date-number{
		font-size: @date-size;
		line-height: 1;
	}
	.day{
		font-size: 3em;
		text-transform: lowercase;
	}
}


.node-teaser{

	/*
	.transition(all 0.4s);
	background-color: @fourth-color;
	:hover{
		.transition(all 0.4s);
		background-color: lighten(@fourth-color, 20%);
	}
	*/
	.header{
			display: inline-block;
			width: 100%;
		}

	.content{
		display:block !important;
	}
	.field-big-image{
		height:220px;
		overflow: hidden;
	}
	.node-readmore{
		.make-md-column(12);
		background-color: @tertiary-color;
		.transition(all 0.4s);
		:hover{
			background-color: lighten(@tertiary-color, 10%);
		}
		a:before{
			content:'+ ';
		}
		a{
			color: @black;
		}
	}
}
