// Media query variables.
@mobile:  ~"(max-width: 767px)";
@tablet:  ~"(min-width: 768px) and (max-width: 991px)";
@normal:  ~"(min-width: 992px) and (max-width: 1199px)";
@wide:    ~"(min-width: 1200px)";

// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';

// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';
@import 'node.less';
@import 'lezoo-views.less';
@import 'events.less';
@import 'blog.less';
@import 'fronts.less';
@import 'widget.less';
@import 'home.less';
@import 'pro.less';
@import 'install.less';
@import 'ui-tabs.less';

body{
	background-color: @fourth-color;
	color: @primary-color;
	padding-top: 40px;
	@media @tablet{
		padding-top: 50px;
	}
	padding-bottom: 125px;
}

//Remove gutter on mobile

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  .row{
  	margin-right: 0;
  	margin-left: 0;
  }
  .col-sm-12, .col-xs-12{
  	padding-left: 0;
  	padding-right: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }
}
body.administrator{
		padding-top: 70px!important;
}
a{
	font-family: inherit;
}
.pane-title, .block-title{
	background-color: lighten(@fourth-color, 25%);
	line-height: 1.6;
	padding: 0 5px;
}

//---------------------------------- Admin stuff
.administrator{
	#navbar{
		margin-top: 20px;
	}

	.grid{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		div{
			height:100%;
			> div{
				border-left: gray 1px solid;
				border-right: gray 1px solid;
				height: 100%;
				.opacity(0.05);
				background-color: white;
			}
		}
	}
}