.views-widget{
	.shs-select{
		
		.form-item{
		}
	}
}

.ics-container{
	.event-ics{
		font-size: @font-size-base !important;
	}
}

.grid{
	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
}

.pager{
	color: @secondary-color;
	background-color: @tertiary-color;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	a{
		color: @secondary-color;
	}
	.pager-next{
		a{
			border: none;
			padding:2px;
			border-radius: 0px!important;
			font-weight: bold;
			&:hover{
				color: @primary-color;
				background-color: @fourth-color;
			}
		}
	}
}