.views-widget{
	.shs-select{
		
		.form-item{
		}
	}
}

.ics-container{
	.event-ics{
		font-size: @font-size-base !important;
	}
}

.grid{
	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
}

// Pager
.pager{
	color: @secondary-color;
	background-color: @tertiary-color;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	a{
		color: @secondary-color;
	}
	.pager-next{
		a{
			border: none;
			padding:2px;
			border-radius: 0px!important;
			font-weight: bold;
			&:hover{
				color: @primary-color;
				background-color: @fourth-color;
			}
		}
	}
}

// Flippy
.flippy{
	@media(max-width : @screen-md){
		display: none;
	}
	.prev, .next{
		position: fixed;
		top: 50px;
		z-index:100;
		width: 40px!important;
		overflow: hidden;
		height: 110px;
		padding: 0px;
		.transition-duration(0.5s);
		border-bottom: solid 1px @primary-color;
		div{
			height: 100%;
			padding: 25px;
			background: center no-repeat;
			background-size: cover;

		}
		a{
			position: absolute;
			left: 0px;
			height: 100%;
			width: 100%;
			font-size: @font-size-h4;
			font-family:@font-family-sans-serif;
		}
		img{
			height: 100%;
			max-width: none;
			position: absolute;
			top: 0px;
			z-index: -10;
		}
		&:hover{
			.transition-duration(0.5s);
			width: 110px!important;
		}
	}

	.prev{left: 0px;}
	.next{right: 0px;}
}

// Buttons
.btn-primary{
	font-family: @font-family-serif;
	font-size: @font-size-h5;
	color: @primary-color;
	text-align: left;
	background-color: @tertiary-color;
	border-radius: 0px;
	border-color: @tertiary-color;
	padding: @padding-base-horizontal;
	.transition-duration(0.5s);
	&:hover{
		.transition-duration(0.5s);
		background-color: @secondary-color;
	}
}

.panels-modal-add-config a{
	color: red;
	&:hover{
		color: darken(red, 50%);
	} 
}
/* Share */

.share42init{
	.transition-duration (0.5s);
	position: relative;
	width: 3px;
	height: 18px;
	top: -10px;
	float: right;
	background-image: url('../background_imgs/bg_med.gif');
	overflow: hidden;
	padding-top: 2px;
	padding-top: 2px;
	text-align: right;
	&:before{
		content: 'k';
		font-size: medium!important;
		margin-right: 0.6em;
		margin-left: 0.3em;
		.transition-duration (0.5s);
		position: relative;
		top: -3px;
		color: @primary-color;
		cursor: pointer;
	}
	.node:not(.node-panel):hover &{
		width:100%;
		.transition-duration (0.5s);
		.transition-delay (0.3s);
	}
	.node:hover:not(.node-panel) &:before{
		opacity: 0;
		.transition-delay (0.3s);
		color: rgb(43, 43, 43);
		width: 0px;
		margin-right: 0;
	}
}

#event-filter-block{
	padding-left: 0px;
	padding-right: 0px;
	max-height: 24px;
	overflow-y: hidden;
	.transition-duration (0.5s);
	.transition-delay (0.3s);
	&:hover{
		max-height: 70px;
		overflow-y: visible;
		.transition-duration (0.5s);
		.transition-delay (0.3s);
	}
}

/*   Subscribe   */
#myModal
{
	.modal-title{
		color: @fourth-color;
	}
	.genre-select{
		display: inline-block;
		width: 100%;
		.genre-select-all{
			display: inline-block;
			width: 49.5%;
			text-align: center;
			&:hover{
				text-transform: uppercase;
			}
			&:first-child{
				float: left;
			}
			&:last-child{
				float: right;
			}
		}
	}	
	.genre, .genre-select-all{
		cursor : pointer;
		color: white;
		background: rgba(0,0,0,0.8);
		padding: 0px 5px;
		margin: 5px 0px;
		font-family: 'Oswald';
		font-size: larger;
	}
	.genre{
		text-transform: uppercase;
		width: 100%;
		.glyphicon{
			margin-right: 5px;
		}

		&.selected{

			
			.glyphicon-ok{
				display: inline;
			}
			.glyphicon-remove{
				display: none;
			}
			&:hover{ 
				.glyphicon-ok{
					display: none;
				}
				.glyphicon-remove{
					display: inline;
				}
			}
		}
		&:not(.selected){
			color: grey;
			text-transform: none;
			.glyphicon-ok{
				display: none;
			}
			.glyphicon-remove{
				display: inline;
			}
			&:hover{
				.glyphicon-ok{
					display: inline;
				}
				.glyphicon-remove{
					display: none;
				}
			}
		}
	}
}

#modal-content{
	color: black;
	a{
		color: inherit;
	}
}
.modal-body{
	overflow: auto;
}
/* sticky */

.is-sticky{
	padding-left: @padding-base-horizontal;
	padding-top: 0px;
}

/* chosen */
#event-filter-block{
	display: inline-block;
	width: 100%;

	label{
		display: none;
	}

	.pane-title{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.form-item-month-value-year{
		display: none;
	}

	/* FORM */

	.views-exposed-form .views-exposed-widget {
		float: left;
		padding-right: 5px;
	}

	.form-control:-moz-placeholder {
		color: #999999;
	}
	.form-control::-moz-placeholder {
		color: #999999;
	}
	.form-control:-ms-input-placeholder {
		color: #999999;
	}
	.form-control::-webkit-input-placeholder {
		color: #999999;
	}
	.form-control {
		display: block;
		height: 31px;
		padding: 0px;
		font-size: @font-size-h4;
		font-family: @font-family-serif;
		line-height: 1.428571429;
		vertical-align: middle;
		background-color: @fourth-color; 
		border: none;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.form-control:focus {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}
	.form-submit{
		margin-top: 0px;
	}

	/* BUTTON */
	.btn-info {
		color: black;
		background-color: white;
		border-color: white;
		@media @mobile{
			width: 441px !important;
		}
		width : 120px !important;
	}
	/* CHOSEN */
	/* dark color overrides */
	.chosen-container {
		@media @mobile{
			width: 441px !important;
		}
		width: 200px !important;
	}
	.chosen-container .chosen-results li {
		color: @primary-color;   
	}
	.chosen-container .chosen-drop, .chosen-container-single .chosen-single {
		background-color: @fourth-color;
		color: @primary-color;
		
	}
	/* Some IE 7-9 fun with this next one - filter likes to override background */
	.chosen-container-single .chosen-single {
		background-color: #000000;
		background-image: none;
		background: #000000 none top left no-repeat;
		filter: none;
		border: none;
		border-radius: 0px;
		display: block;
		height: 30px;
		padding-top: 0px;
	}
	.chosen-container .chosen-drop {
		border: 1px solid #121212;    
	}
	.chosen-container-single .chosen-single div {
	}
	.chosen-container-active .chosen-single-with-drop {
		box-shadow: none; 
	}
	.chosen-container .chosen-results .highlighted {
		background: #333333;
		color: #eeeeee;
	}
	.chosen-container .chosen-results .no-results {
		background: #333;
	}
	.chosen-container .chosen-results li em {
		background: none;
	}

	/* dark sprite overrides */

	.chosen-container-single .chosen-single abbr {
		background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') right top no-repeat;
	}
	.chosen-container-single .chosen-single div b {
		background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') no-repeat 0 1px;
	}
	.chosen-container-single .chosen-search input,
	.chosen-rtl .chosen-search input {
		background: #333 url('https://www.exratione.com/assets/chosen-sprite-dark.png') no-repeat 100% -22px;
		color: @primary-color;
		border: 1px solid #555555;
	}
	.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
		background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') right top no-repeat;
	}


}

.sync-calendar{
	display: inline-block;
}
.panel-separator{
	display: none;
}

#panels-ipe-paneid-69{
	@media @mobile{
		display: none;
	}
}