.page-agenda .center-col{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .pane-calendar-panel-pane-4{
    flex-grow: 1;
  }
  .panel-pane{
    display: flex;
    flex-direction: column;
    --archive-height: 2rem;
    max-height: calc(100% - var(--archive-height)) ;
  }
  .pane-content{
    overflow-y: auto;
  }
  .pane-calendar-panel-pane-3 .pane-content{
    display: none;
  }
}
