.page-admin-visu{
  .view-installations .item-list li{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

.page-visu{
  .center-col{
    grid-column: 2 / 4;
  }

  &:not(:first-child){
      margin-top: 3rem;
  }
  .node-title{
    font-size: 2rem;
    line-height: 2rem;
    text-transform: lowercase;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .node-installations > .content{
    position: relative;
  }
  .visu-details{
    position: sticky;
    top: 0;
  }
  .center-col .visu-details{
    display: none;
  }
  .visu-media{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
  }
  .visu-media .field-media{
    grid-column: 1 / 4;
  }
  figure.field-photos {
    display: block;
    overflow: hidden;
    max-height: 12rem;
    background-color: $white;

    img{
      mix-blend-mode: luminosity;
      opacity: 1;
      height: 100% !important;
      transition: mix-blend-mode 0.3s;
      &:hover{
          mix-blend-mode: normal;
          transition: mix-blend-mode 0.6s;
      }
    }
  }
  iframe{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 768px){
    .left-col{
      display: none;
    }
    .center-col{
      grid-column: 1;
    }
    .center-col .visu-details{
      display: block;
    }
    .visu-media{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
