html{
  // can't figure out why lezoo-threecols has a width 
  // larger than the viewport 🤔
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
  &.logged-in{
    height: calc(100vh - 20px);
  }
  @media (max-width: 768px){
    padding-bottom: 250px;
    width: 100vw;
    overflow-x: hidden;
    &.logged-in{
      height: auto;
    }
  }
}
main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
footer{
  flex-shrink: 0;
}
.lezoo-threecols{
  flex-grow: 1;
  display: grid;
  grid-template-columns: $grid-spacing;
  grid-column-gap: $grid-column-gap;
}

.left-col, .center-col, .right-col{
  overflow-x: hidden;
  overflow-y: auto;
  @media (max-width: 768px){
    height: auto;
    overflow-y: initial;
  }
}

.mobile-col-wrapper{
  display: contents;
}

@media (max-width: 768px){
  .center-col, .right-col{
      padding-top: 4.5rem !important;
  }
  .left-col{
    position: fixed;
    width: 100vw;
    left: 0;
    z-index: -100;
  }
  .lezoo-threecols{
    display: block;
  }
  .mobile-col-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 100vw);
    width: 200vw;
    
    .right-focus &{
      animation: switch .25s 1 linear forwards;
    }
    .center-focus & {
      animation: switch-reverse .25s 1 linear forwards;
    }
  }
}

// magic rule to fix the max height of the main!
main, .lezoo-threecols{
  min-height: 0;
}

.region-content, #block-system-main, #block-system-main > .content, #block-system-main > .content > .contextual-links-region{
  display: contents;
}

@keyframes switch{
  0%{ transform: translateX(0vw) skew(0deg); }
  55%{ transform: translateX(-45vw) skew(var(--skew-base)); }
  45%{ transform: translateX(-55vw) skew(var(--skew-base)); }
  100%{ transform: translateX(-100vw) skew(0deg); }
}
@keyframes switch-reverse{
  0%{ transform: translateX(-100vw) skew(0deg); }
  45%{ transform: translateX(-55vw) skew(var(--skew-base)); }
  55%{ transform: translateX(-45vw) skew(var(--skew-base)); }
  100%{ transform: translateX(0vw) skew(0deg); }
}