.load-container{
  overflow-x: hidden;
}
.skewer{
  --skew-base: 40deg;
  --skew: 0deg;
  --x-start:0%;
  --speed: 1s;
  --start-speed: .3s;
  --min-position: -120%;
  --max-position: 120%;
  transform: skewX(var(--skew)) translateX(var(--x-start));
  transition: all var(--start-speed) cubic-bezier(1, 0.01, 0.96, 0.14);
}

.loading .rolling .skewer{
  animation: skew-roll infinite linear;
  animation-duration: var(--speed);
}

.skewer.start{
   --skew: var(--skew-base);
  --x-start: 50%;
  --speed: .1s;
}
.skewer.arriving{
  --skew: var(--skew-base);
  --x-start: 50%;
  animation: skew-roll-arriving .075s linear 1;
  transition-duration: 0;
  animation-fill-mode: forwards;
}
.skewer.arrived{
  --skew: 0deg;
  --x-start:0%;
   animation: skew-roll-arrived var(--start-speed) 1 cubic-bezier(0, 0.43, 0, 1.07)!important;
   animation-fill-mode: forwards;
}
.arrived.arriving{
  opacity: 0;
}

@media (max-width: 768px){
  .skewer{
    --min-position: 120%;
    --max-position: -120%;
    &.start{
      --x-start: -50%;
    }
  }
}
@keyframes skew-roll{
  0%{   transform: skewX(var(--skew)) translateX(calc(var(--x-start))); }
  25%{  transform: skewX(var(--skew)) translateX(var(--max-position)); }
  25.1%{  transform: skewX(var(--skew)) translateX(var(--min-position)) }
  100%{ transform: skewX(var(--skew)) translateX(calc(var(--x-start))); }
}
@keyframes skew-roll-arriving{
  0%{   transform: skewX(var(--skew)) translateX(calc(var(--x-start))); }
  99%{  transform: skewX(var(--skew)) translateX(var(--max-position)); }
  100%{ transform: skewX(var(--skew)) translateX(var(--min-position)); }
}
@keyframes skew-roll-arrived{
  0%{   transform: skewX(var(--skew-base)) translateX(var(--min-position)); }
  100%{   transform: skewX(0deg) translateX(0%); }
}
