
.page-history .view-content{
  opacity: 0;
  &.show{
    opacity: 1;
  }
}


.view-header{
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-grey);
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-transform: uppercase;
}
// TYPOGRAPHY
h1{
  font-size: 1rem;
  line-height: 1rem;
}
h2{  font-size: 2rem;
     line-height: 2rem;
     text-transform: uppercase;
}
h3{  font-size: 1.5rem;
     line-height:1.5rem;
}
h4{  font-size: 1rem;
     line-height:1rem;
     text-transform: uppercase;
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a{
  color: $link-color;
  text-decoration: none;
}

// OVERRIDES
figure{
  margin: 0;
  padding: 0;
}

// Styles

html{
  font-size: 16px;
  background-color: $background-color;
  color: var(--black);
}
body{
  font-family: $body-font;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  --capital-height: 100;
  margin:0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}




.back{
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
  display: none;
  @media (max-width: 768px){
    display: block;
    text-align: right;
    &:before{
      content: '←';
    }
  }
}

.left-col{
  .menu{
    display: grid;
    margin: 0rem 0 2rem 0;
    grid-template-columns: repeat(2, 50%);

    @media (max-width: 768px){
      display: none;
    }

    ul{
        list-style-type: none;
        a{
          &:hover{
            color: $white;
            background-color:$black;
        }
      }
    }
    li {
        list-style-type: none;
        list-style-image: none;
    }
  }
  .field-flyer, .field-big-image img{
    max-width: 100%;
    padding-left: 0.25rem;
    @media (max-width: 768px){
      position: fixed;
      top: 20vh;
      z-index: -100;
      opacity: 0.2;
    }
  }
  .visu-details{
      margin-left: 0.5rem;
      p{
        padding:0;
        margin: 0;
      }
  }
  .field-date{}
}



.center-col{

  .active{
    visibility: hidden;

  }
  .calendar-row{
    margin-bottom: 1rem;
  }
  .news-row, .menu li{
    width: 100%;
  }
  .menu {
    ul{
      padding: 0;
    }
    li{
      font-size: 2rem;
      line-height: 2rem;
      margin: 0 0 0.5rem 0;
      padding: 0.5rem 0 0 0;
    }
  }

  .calendar-row, .news-row, .menu li{

    .node-content{
      display: grid;
      grid-template-columns: 10ch auto;
    }

    &:not(:first-child){
      padding: 0.5rem 0;
    }
    &:first-child{
      padding-bottom: 0.5rem;
    }
  }
  .event-header{
    display: grid;
    grid-template-columns: 10ch auto;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .event-header, .news-teaser{
    min-height: 1rem;
    display: contents;
  }
  .event-main{
    display: contents;
  }
  .field-date{
    font-size: 2rem;
    line-height: 2rem;
  }
  .line-up, .artists{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
  }
  .artist{
    display: inline-block;
    margin-right: 0.5rem;
  }
  .event-line-up-vjs{
      font-family: $open-sans;
      font-style: italic;
  }

}

.right-col{
  .date-display-single {
    display: flex;
    flex-wrap: wrap;
  }

  .date-display-single span {
    min-width: 100%;
    &:first-child{
      min-width: 100%;
     }
   }
   .event-node.dated-node{
     max-width: 70ch;
   }
     .event-header, .node-content{
       display: grid;
       grid-template-columns: 18ch auto;
     }

  .event-titles{
    text-transform: uppercase;
  }

  .tags{
    display: flex;
    flex-wrap: wrap;
    .field-tags{
      padding-right: 0.5rem;
    }
  }
  .artists{
    display: flex;
    flex-wrap: wrap;
    max-width: 50ch;
  }
  .artist, .blog-artist{
    font-size: 2rem;
    line-height: 2rem;
    margin-right: 1rem;
    text-transform: uppercase;
   }
   .event-details, .blog-info, .event-body, .event-meta{
     grid-column: 1/3;
   }
   .field-body, .blog-info, .event-body{
     max-width: 50ch;
     font-family: $text-font;
     font-size: 1rem;
     line-height: 1.2rem;
     padding-right: 1rem;
    iframe{
      min-height:3rem;
      width: 100%;
    }
   }
}

footer{
    font-size: 0.8rem;
    overflow: scroll;
    padding: 0.2rem;

    h2, h3, h4{
      font-size: 0.8rem;
      font-weight: $bolder;
    }
    p{
        margin-top:0;
        max-width: 60ch;
        margin-bottom: 0;
    }
    .region-footer{
      display: grid;
      grid-template-columns: $grid-spacing-footer;
      width: 100%;
      grid-column-gap: $grid-column-gap;
      @media (max-width: 768px){
        display: block;
      }
    }
    .calendar-sync:hover{
      cursor:pointer;
    }
    #block-block-1 .content {
    display: flex;
  }
      @media (max-width: 768px){

  #block-block-6, #block-block-8, #block-block-3{
      display: none;
    }
  }
}

.page-history footer{
  display: none;
}

.event-header, .field-date, .node-title{
  color: $text-grey;
}
.event-header{
    display: grid;
    grid-template-columns: 10ch auto;

    .event-genre{
      font-size: 1rem;
    }
  }
  .event-titles, .news-title {
    text-transform: uppercase;
  }

.node-artist-list, .view-line-up-and-podcast-artists{
  .artist-list, .view-content{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-transform: lowercase;
    font-weight: $bolder;
  }
  .artist-list-item, .views-row{
    line-height: 3rem;
    font-size: 3rem;
    padding: 0 0.5rem;
    display: inline-block;
    &:nth-child(2n){
      font-style: italic;
    }
  }
}

.flippy{
  display: flex;
  justify-content: space-between;
  ul, li{
    padding: 0;
  }
}
.field-date, .date {
  font-size: 2rem;
  line-height: 2rem;
  display: grid;
  align-self: start;
  .day, .date-number {
    display: inline-block;
    text-transform: lowercase;
  }
}
.menu{
  text-transform: uppercase;
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  li{
  }
  .active-trail{
    font-weight: 700;
    font-style: italic;
  }

}
.field-media{
  max-width: 50ch;
}

.page-agenda .center-col a, .view-line-up-and-podcast-artists a{
  // fix the opacity not taken, wtf
  display: inline-block;
}

a, .news-row{
  opacity: 1;
  transition: opacity .075s;
  &:hover{
    opacity: 0.3;
    transition: opacity .15s;
  }
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    padding-left: 0;
}
img{
  max-width: 100% !important;
  height: auto !important;
}
body ul li.leaf{
  list-style-image: none;
  list-style-type: none;
}

// big artist list
.view-line-up-and-podcast-artists .view-content {
    overflow: scroll;
}
// to check

.artist-info{
  display: none;
}


.words{
  display: inline-block;
  width: 12ch;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
  position: relative;
  height: 1rem;
}

.word{
  animation: blink 7s infinite;
  position: absolute;
  left: 0;
  top: 0px;
  opacity: 0;
}
@for $i from 0 through 8{
  .word:nth-child(#{$i}){
    animation-delay: #{$i - 1}s;
  }
}

@keyframes blink{
  0%{opacity: 1;}
  13.9%{opacity: 1;}
  14%{opacity: 0;}
  98%{opacity: 0}
}
