// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,400i&display=swap');

// Font Variables
$white: var(--white);
$black: var(--black);
$grey:  var(--grey);
$background-color: var(--background-color);
$grid-spacing: var(--grid-spacing);
$grid-column-gap: var(--grid-column-gap);


:root{
  --white: white;
  --black: black;
  --grey: grey;
  --background-color: F9F6EF;
  --grid-spacing: 25% 25% 50%;
  --grid-column-gap: 0.5rem;
  --skew-base: 40deg;
}

$body-font: 'Heebo', Helvetica, sans-serif;
$open-sans: 'Open Sans', Times New Roman, sans-serif;
$body-color: $black;
$link-color: $body-color;
$text-font: 'Libre Caslon Text', serif;
$bold: 400;
$bolder: 700;

@import 'main';
@import 'marquee';
@import 'logged-in';
@import 'agenda';
@import 'animals';
@import 'layout';
@import 'loading';
@import 'ical';