// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,400i&display=swap');

// Font Variables
$white: var(--white);
$black: var(--black);
$grey:  var(--grey);
$background-color: var(--background-color);
$grid-spacing: var(--grid-spacing);
$grid-column-gap: var(--grid-column-gap);


:root{
  --white: white;
  --black: black;
  --grey: grey;
  --background-color: F9F6EF;
  --grid-spacing: 25% 25% 50%;
  --grid-column-gap: 0.5rem;
}

$body-font: 'Heebo', Helvetica, sans-serif;
$open-sans: 'Open Sans', Times New Roman, sans-serif;
$body-color: $black;
$link-color: $body-color;
$text-font: 'Libre Caslon Text', serif;
$bold: 400;
$bolder: 700;

@import 'marquee';
@import 'logged-in';
@import 'agenda';
@import 'animals';
@import 'layout';

// TYPOGRAPHY
h1{
  font-size: 3rem;
  line-height: 3rem;
}
h2{  font-size: 2rem;
     line-height: 2rem;
     text-transform: uppercase;
}
h3{  font-size: 1.5rem;
     line-height:1.5rem;
}
h4{  font-size: 1rem;
     line-height:1rem;
     text-transform: uppercase;
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
a{
  color: $link-color;
  text-decoration: none;
}

// OVERRIDES
figure{
  margin: 0;
  padding: 0;
}

// Styles

html{
  font-size: 16px;
  background-color: $background-color;
}
body{
  font-family: $body-font;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  --capital-height: 100;
  margin:0;
  height: 100vh;
}

@media (max-width: 768px){
  .event-list.page-agenda{
    .right-col{
      display: none;
    }
  }
  .page-agenda:not(.event-list){
    .center-col{
      display: none;
    }
  }
}


header{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: 6vh;

  @media (max-width: 768px){
    position: fixed;
    background-color: $background-color ;
    z-index: 1;
    .view-line-up-and-podcast-artists{
      padding: 0.25rem 0;
      line-height: 1.5rem;
    }
  }
  .logo{
    padding: 0.4rem;
    @media (max-width: 768px){
      img{
        max-height: 1.5rem;
      }
    }
  }
  .region-top-bar{
    @media (max-width: 768px){
      width: 100%;
    }
  }
  .region-navigation{
    display: none;
    @media (max-width: 768px){
      display: block;
    }
  }
  .menu{
    padding-left: 0;
    margin:0 0 0.4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    li{
        display: inline-block;
      }
    }
}

main {
    border-top: solid 1px $black;
}

.lezoo-threecols{
  display: grid;
  grid-template-columns: $grid-spacing;
  grid-column-gap: $grid-column-gap;
    @media (max-width: 768px){
      display: flex;
      flex-wrap: wrap;
      height: auto;
      max-height: fit-content;
  }
}

.left-col, .center-col, .right-col{
    overflow-y: auto;
    @media (max-width: 768px){
      height: auto;
      overflow-y: initial;
    }
}

.center-col, .right-col{
  @media (max-width: 768px){
    width: 100%;
    padding-top: 4.5rem !important;
  }
}

.page-news{
  @media (max-width: 768px){
    .center-col{
      display: none;
    }
  }
}
.podcasts{
  @media (max-width: 768px){
    &.page-news{
      .center-col{
        display: block;
      }
    }
    .right-col{
      display: none;
    }
  }
}

.left-col{
  .menu{
    display: flex;
    padding: 1rem 0 0 0;
    margin: 0rem 0 2rem 0;
    @media (max-width: 768px){
      display: none;
    }

    ul{
        list-style-type: none;
        a{
          &:hover{
            color: $white;
            background-color:$black;
        }
      }
    }
    li {
        list-style-type: none;
        list-style-image: none;
    }
  }
  .field-flyer, .field-big-image img{
    max-width: 100%;
    padding-left: 0.25rem;
    @media (max-width: 768px){
      position: fixed;
      top: 20vh;
      z-index: -100;
      opacity: 0.4;
    }
  }
}

.center-col{
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  padding: 0 0.5rem;
  margin: 1rem 0;
  .calendar-row{
    min-height: 8rem;
  }
  .news-row, .menu li{
    min-height: 4rem;
    width: 100%;
  }
  .menu {
    ul{
      padding: 0;
    }
    li{
      border-top: solid 0px $black;
      font-size: 2rem;
      line-height: 2rem;
      margin: 0 0 0.5rem 0;
      padding: 0.5rem 0 0 0;
    }
  }

  .calendar-row, .news-row, .menu li{
    border-top: solid 0px $black;

    &:not(:first-child){
      border-top: solid 1px $grey;
      padding: 0.5rem 0;
    }
    &:first-child{
      padding-bottom: 0.5rem;
    }
  }
  .event-header, .news-teaser{
    min-height: 2.1rem;
  }
  .event-line-up{
    margin-top: 1rem;
  }
  .line-up, .artists{
    display: flex;
    flex-wrap: wrap;
  }
  .artist{
    display: inline-block;
    padding-right: 1rem;
  }
  .event-line-up-vjs{
      font-family: $open-sans;
      font-style: italic;
  }

}

.right-col{
  margin: 1rem 0;
  .date-display-single {
    display: flex;
    flex-wrap: wrap;
  }

  .date-display-single span {
    min-width: 100%;
    &:first-child{
      font-size: 1rem;
      font-family: $open-sans;
      font-weight: normal;
     }
   }
  .event-titles{
    border-bottom: solid 1px $grey;
    text-transform: uppercase;
  }
  .event-header{
    height: 4rem;
  }
  .tags{
    display: flex;
    flex-wrap: wrap;
    .field-tags{
      padding-right: 0.5rem;
    }
  }
  .artist, .blog-artist{
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
   }

   .field-body, .blog-info, .event-body{
     max-width: 40ch;
     font-family: $text-font;
     font-size: 1rem;
     line-height: 1.2rem;
    iframe{
      min-height:3rem;
      width: 100%;
    }
   }
}

footer{
    font-size: 0.8rem;
    overflow: scroll;
    padding: 0.2rem;
    @media (min-width: 768px){
      height: 8rem;
    }

    h2, h3, h4{
      font-size: 0.8rem;
      font-weight: $bolder;
    }
    p{
        margin-top:0;
        max-width: 60ch;
    }
    .region-footer{
      display: grid;
      grid-template-columns: 25% 25% 40% 10%;

      width: 100%;
      grid-column-gap: $grid-column-gap;
      @media (max-width: 768px){
        display: block;
      }
      div {
        padding: 0 0.25rem;
      }
    }
    #block-block-1 .content {
    display: flex;
  }
      @media (max-width: 768px){

  #block-block-6, #block-block-8, #block-block-3{
      display: none;
    }
  }
}

.event-header{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1rem 0 0 0;
    .field-date, .date {
      font-size: 2rem;
      display: grid;
      grid-auto-columns: max-content;
      .day, .date-number {
        display: inline-block;
      }
    }
    .event-genre{
      font-size: 1rem;
      vertical-align: top;
      text-align: right;
    }
  }
  .event-titles, .news-title {
    text-transform: uppercase;
  }

.node-artist-list, .view-line-up-and-podcast-artists{
  .artist-list, .view-content{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-transform: lowercase;
    font-weight: $bolder;
  }
  .artist-list-item, .views-row{
    line-height: 3rem;
    font-size: 3rem;
    padding: 0 0.5rem;
    display: inline-block;
    &:nth-child(2n){
      font-style: italic;
    }
  }
}

.menu{
  text-transform: uppercase;
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  li{
  }
  .active-trail{
    font-weight: 700;
    font-style: italic;
  }

}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    padding-left: 0;
}
img{
  max-width: 100% !important;
  height: auto !important;
}
body ul li.leaf{
  list-style-image: none;
  list-style-type: none;
}

// to check

.artist-info{
  display: none;
}
