#soundcloud_filter_popup .panel_wrapper {
  height: 175px;
}

#soundcloud_filter_popup .panel_wrapper div.current {
  height: 175px;
}

#soundcloud_filter_popup label {
  float: left;
  width: 120px;
  margin-right: 4px;
  text-align: right;
}

#soundcloud_filter_popup fieldset {
  line-height: 2em;
  font-size: 11px;
  font-family: Arial;
}
